$gutter: 15px;
$gutterLargeTablet: 10px;

.smallCardColumns {
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-bottom: -($gutter * 2);
    @media ($largeTablet) {
        margin-left: -$gutterLargeTablet;
        margin-right: -$gutterLargeTablet;
        margin-bottom: -($gutterLargeTablet * 2);
    }
    @media ($mobile) {
        margin-bottom: -15px;
    }
}
.smallCardColumn {
    width: 50%;
    padding: 0 $gutter;
    margin-bottom: $gutter * 2;
    @media ($largeTablet) {
        padding: 0 $gutterLargeTablet;
        margin-bottom: $gutterLargeTablet * 2;
    }
    @media ($tablet) {
        width: 100%;
    }
    @media ($mobile) {
        margin-bottom: 15px;
    }
}
