/*
// Colors
*/
$primaryTextColor: #404040;
$primaryColor: #3aa2d2;
$secondaryColor: #73ac2c;
$primaryColorContrast: #207196;

/*
// Fonts
*/
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Merriweather', serif;

/*
// Frame sizes
*/
$frameSize: 50px;
$frameSizeSmallDesktop: 30px;
$frameSizeTablet: 15px;
$frameSizeMobile: 0;

/*
// Media queries
*/
$largeDesktop: "max-width: 1800px";
$smallDesktop: "max-width: 1600px";
$laptop: "max-width: 1380px";
$largeTablet: "max-width: 1240px";
$tablet: "max-width: 1030px";
$mediumTablet: "max-width: 860px";
$smallTablet: "max-width: 760px";
$smallerTablet: "max-width: 600px";
$mobile: "max-width: 480px";
$smallerMobile: "max-width: 359px";
